## Deliverable 2. Create a Customer Travel Destinations Map.

In [30]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import g_key

# Configure gmaps API key
gmaps.configure(api_key=g_key)

In [31]:
# 1. Import the WeatherPy_database.csv file. 
city_data_df = pd.read_csv("WeatherPy_database.csv")
city_data_df.head()

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Provideniya,RU,64.3833,-173.3000,33.91,86,100,11.18,overcast clouds
1,1,Aracati,BR,-4.5617,-37.7697,76.60,78,100,4.59,light rain
2,2,Iquitos,PE,-3.7481,-73.2472,75.24,100,75,0.00,broken clouds
3,3,Butaritari,KI,3.0707,172.7902,81.45,72,15,14.14,few clouds
4,4,Port Alfred,ZA,-33.5906,26.8910,63.18,89,4,5.01,clear sky

In [56]:
# 2. Prompt the user to enter minimum and maximum temperature criteria 
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 45
What is the maximum temperature you would like for your trip? 95

In [57]:
# 3. Filter the city_data_df DataFrame using the input statements to create a new DataFrame using the loc method.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
1,1,Aracati,BR,-4.5617,-37.7697,76.60,78,100,4.59,light rain
2,2,Iquitos,PE,-3.7481,-73.2472,75.24,100,75,0.00,broken clouds
3,3,Butaritari,KI,3.0707,172.7902,81.45,72,15,14.14,few clouds
4,4,Port Alfred,ZA,-33.5906,26.8910,63.18,89,4,5.01,clear sky
5,5,Bluff,NZ,-46.6000,168.3333,57.79,73,56,14.83,broken clouds
6,6,Alta Floresta,BR,-9.8756,-56.0861,72.01,82,26,3.53,scattered clouds
7,7,Busselton,AU,-33.6500,115.3333,68.11,57,100,7.81,overcast clouds
8,8,Punta Arenas,CL,-53.1500,-70.9167,46.51,61,75,20.71,broken clouds
9,9,Fortuna,US,40.5982,-124.1573,51.66,73,75,10.36,broken clouds
10,10,Lebu,CL,-37.6167,-73.6500,51.55,77,100,7.38,overcast clouds

In [58]:
# 4a. Determine if there are any empty rows.
preferred_cities_df.count()

City_ID                557
City                   557
Country                553
Lat                    557
Lng                    557
Max Temp               557
Humidity               557
Cloudiness             557
Wind Speed             557
Current Description    557
dtype: int64

In [59]:
# 4b. Drop any empty rows and create a new DataFrame that doesn’t have empty rows.
# If you have some rows with null values, you'll need to drop them using the dropna() method at the end of your filtering statement when you are creating the new DataFrame.

In [60]:
# 5a. Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Current Description", "Lat", "Lng"]].copy()

# 5b. Create a new column "Hotel Name"
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
1,Aracati,BR,76.60,light rain,-4.5617,-37.7697,
2,Iquitos,PE,75.24,broken clouds,-3.7481,-73.2472,
3,Butaritari,KI,81.45,few clouds,3.0707,172.7902,
4,Port Alfred,ZA,63.18,clear sky,-33.5906,26.8910,
5,Bluff,NZ,57.79,broken clouds,-46.6000,168.3333,
6,Alta Floresta,BR,72.01,scattered clouds,-9.8756,-56.0861,
7,Busselton,AU,68.11,overcast clouds,-33.6500,115.3333,
8,Punta Arenas,CL,46.51,broken clouds,-53.1500,-70.9167,
9,Fortuna,US,51.66,broken clouds,40.5982,-124.1573,
10,Lebu,CL,51.55,overcast clouds,-37.6167,-73.6500,

In [61]:
# 6a. Set parameters to search for hotels with 5000 meters.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key,
    "location":""
}

# 6b. Iterate through the hotel DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"
    
    # 6d. Set up the base URL for the Google Directions API to get JSON data.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

    # 6e. Make request and retrieve the JSON data from the search. 
    hotels = requests.get(base_url, params=params).json()

    
    # 6f. Get the first hotel from the results and store the name, if a hotel isn't found skip the city.
    try:
        hotel_name = hotels["results"][0]["name"]
        hotel_df.loc[index, "Hotel Name"] = hotel_name
        city = hotel_df.loc[index, "City"]
    except (IndexError):
        print("Hotel not found... skipping.")

hotel_df.head(10)

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
1,Aracati,BR,76.60,light rain,-4.5617,-37.7697,Motel Pousada Milleniun - Aracati-CE
2,Iquitos,PE,75.24,broken clouds,-3.7481,-73.2472,Cortez Malaga Techy Caroly
3,Butaritari,KI,81.45,few clouds,3.0707,172.7902,Isles Sunset Lodge
4,Port Alfred,ZA,63.18,clear sky,-33.5906,26.8910,The Halyards Hotel
5,Bluff,NZ,57.79,broken clouds,-46.6000,168.3333,Bluff Homestead - Guesthouse & Campervan Park
6,Alta Floresta,BR,72.01,scattered clouds,-9.8756,-56.0861,Floresta Amazonica Hotel
7,Busselton,AU,68.11,overcast clouds,-33.6500,115.3333,Observatory Guest House
8,Punta Arenas,CL,46.51,broken clouds,-53.1500,-70.9167,Hotel Hain
9,Fortuna,US,51.66,broken clouds,40.5982,-124.1573,Super 8 by Wyndham Fortuna
10,Lebu,CL,51.55,overcast clouds,-37.6167,-73.6500,Hostal Las Lilas

In [62]:
# 7. Drop the rows where there is no Hotel Name.
hotel_df = hotel_df.dropna()
hotel_df

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
1,Aracati,BR,76.60,light rain,-4.5617,-37.7697,Motel Pousada Milleniun - Aracati-CE
2,Iquitos,PE,75.24,broken clouds,-3.7481,-73.2472,Cortez Malaga Techy Caroly
3,Butaritari,KI,81.45,few clouds,3.0707,172.7902,Isles Sunset Lodge
4,Port Alfred,ZA,63.18,clear sky,-33.5906,26.8910,The Halyards Hotel
5,Bluff,NZ,57.79,broken clouds,-46.6000,168.3333,Bluff Homestead - Guesthouse & Campervan Park
...,...,...,...,...,...,...,...
684,Alad,PH,83.46,overcast clouds,12.6168,122.2475,Sunset Cove Beach & Dive Resort
685,Marang,MY,84.11,broken clouds,5.2056,103.2059,DBarakah Homestay
686,Severnoye,RU,56.26,overcast clouds,56.3491,78.3619,Gostinitsa Severyanka
690,Port-Gentil,GA,80.15,moderate rain,-0.7193,8.7815,Fengshui Residence
691,Tongliao,CN,62.02,scattered clouds,43.6125,122.2653,Meirujia Hotel

In [63]:
# 8a. Create the output File (CSV)
output_data_file = "WeatherPy_vacation.csv"
# 8b. Export the City_Data into a csv
hotel_df.to_csv(output_data_file, index_label="City_ID")

In [64]:
# 9. Using the template add city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
<dt>Current Description</dt><dd>{Current Description} </dd>
</dl>
"""

# 10a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = hotel_df[["Lat", "Lng"]]

In [65]:
# 11a. Add a marker layer for each city to the map. 
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))