## Deliverable 3. Create a Travel Itinerary Map.

In [17]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import g_key

# Configure gmaps
gmaps.configure(api_key=g_key)

In [18]:
# 1. Read the WeatherPy_vacation.csv into a DataFrame.
vacation_df = pd.read_csv("../Vacation_Search/WeatherPy_vacation.csv")
vacation_df.head()

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,1,Aracati,BR,76.60,light rain,-4.5617,-37.7697,Motel Pousada Milleniun - Aracati-CE
1,2,Iquitos,PE,75.24,broken clouds,-3.7481,-73.2472,Cortez Malaga Techy Caroly
2,3,Butaritari,KI,81.45,few clouds,3.0707,172.7902,Isles Sunset Lodge
3,4,Port Alfred,ZA,63.18,clear sky,-33.5906,26.8910,The Halyards Hotel
4,5,Bluff,NZ,57.79,broken clouds,-46.6000,168.3333,Bluff Homestead - Guesthouse & Campervan Park

In [19]:
# 2. Using the template add the city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
<dt>Current Description</dt><dd>{Current Description} </dd>
</dl>
"""

# 3a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in vacation_df.iterrows()]

# 3b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = vacation_df[["Lat", "Lng"]]
vacation_df.head()

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,1,Aracati,BR,76.60,light rain,-4.5617,-37.7697,Motel Pousada Milleniun - Aracati-CE
1,2,Iquitos,PE,75.24,broken clouds,-3.7481,-73.2472,Cortez Malaga Techy Caroly
2,3,Butaritari,KI,81.45,few clouds,3.0707,172.7902,Isles Sunset Lodge
3,4,Port Alfred,ZA,63.18,clear sky,-33.5906,26.8910,The Halyards Hotel
4,5,Bluff,NZ,57.79,broken clouds,-46.6000,168.3333,Bluff Homestead - Guesthouse & Campervan Park

In [20]:
# 4a. Add a marker layer for each city to the map.
locations = vacation_df[["Lat", "Lng"]]
max_temp = vacation_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# 4b. Display the figure

fig

Figure(layout=FigureLayout(height='420px'))

In [24]:
# From the map above pick 4 cities and create a vacation itinerary route to travel between the four cities. 
# 5. Create DataFrames for each city by filtering the 'vacation_df' using the loc method. 
# Hint: The starting and ending city should be the same city.

vacation_start = vacation_df.loc[vacation_df.City =="Kadoma"]
vacation_end = vacation_df.loc[vacation_df.City =="Kadoma"]
vacation_stop1 = vacation_df.loc[vacation_df.City =="Mizunami"]
vacation_stop2 = vacation_df.loc[vacation_df.City =="Ise"]
vacation_stop3 = vacation_df.loc[vacation_df.City =="Shingu"]
vacation_start

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
319,409,Kadoma,JP,75.18,broken clouds,34.7333,135.5833,Hotel Agora Osaka Moriguchi

In [32]:
# 6. Get the latitude-longitude pairs as tuples from each city DataFrame using the to_numpy function and list indexing.
start = vacation_start['Lat'].to_numpy()[0], vacation_start['Lng'].to_numpy()[0]
end = vacation_end ['Lat'].to_numpy()[0], vacation_end ['Lng'].to_numpy()[0]
stop1 = vacation_stop1['Lat'].to_numpy()[0], vacation_stop1['Lng'].to_numpy()[0]
stop2 = vacation_stop2['Lat'].to_numpy()[0], vacation_stop2['Lng'].to_numpy()[0]
stop3 = vacation_stop3['Lat'].to_numpy()[0], vacation_stop3['Lng'].to_numpy()[0]

stop1

(35.3667, 137.25)

In [33]:
# 7. Create a direction layer map using the start and end latitude-longitude pairs,
# and stop1, stop2, and stop3 as the waypoints. The travel_mode should be "DRIVING", "BICYCLING", or "WALKING".
fig = gmaps.figure()
japan_itinerary = gmaps.directions_layer(
        start, end, waypoints=[stop1, stop2, stop3],
        travel_mode='DRIVING')
fig.add_layer(japan_itinerary)
fig

Figure(layout=FigureLayout(height='420px'))

In [35]:
# 8. To create a marker layer map between the four cities.
#  Combine the four city DataFrames into one DataFrame using the concat() function.
itinerary_df = pd.concat([vacation_start,vacation_end,vacation_stop1, vacation_stop2, vacation_stop3],ignore_index=True)
itinerary_df

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,409,Kadoma,JP,75.18,broken clouds,34.7333,135.5833,Hotel Agora Osaka Moriguchi
1,409,Kadoma,JP,75.18,broken clouds,34.7333,135.5833,Hotel Agora Osaka Moriguchi
2,113,Mizunami,JP,70.48,moderate rain,35.3667,137.2500,Business Mizunami Plaza Hotel
3,290,Ise,JP,65.52,light rain,34.4833,136.7000,Ise Fresh
4,347,Shingu,JP,63.77,light rain,33.7333,135.9833,Shingu UI Hotel

In [36]:
# 9 Using the template add city name, the country code, the weather description and maximum temperature for the city. 
info_box_template =  """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
<dt>Current Description</dt><dd>{Current Description} </dd>
</dl>
"""

# 10a Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in itinerary_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = itinerary_df[["Lat", "Lng"]]

In [41]:
# 11a. Add a marker layer for each city to the map.
fig = gmaps.figure()

markers = gmaps.marker_layer(locations, info_box_content = hotel_info)
fig.add_layer(markers)

# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))